@page "/"
@inject EventAPIService EventApi
@inject NavigationManager Nav


<PageTitle>Home</PageTitle>
@* Content grid *@
<div class="Content-Grid">
    @*Top Banner*@
    <div class="Grid-Row">
        <div class="Row-Container Text-Header">
            <h1>Pikk pikk jutustav tekst</h1>
        </div>
        <div class="Row-Container">
            <img src="images/pilt.jpg"/>
        </div>
    </div>
    @*Upcoming events*@
    <div class="Grid-Box">
        <div class="Title-Box Text-Header Text-Header--Center">
            <h2>Tulevased Üritused</h2>
        </div>
        <div class="Content-Box Content-Card">
            @if (_upcomingEvents == null)
            {
                <p>Loading</p>
            }
            else if (_upcomingEvents.Count == 0)
            {
                <p>No events</p>
            }
            else
            {
                <div class="Event-List">
                    @foreach (EventReturnDTO ev in _upcomingEvents)
                    {
                        <NavLink class="Event-Card nav-link"
                                 href="@($"/events/{ev.Id}")">

                            <div class="Event-CardMain">

                                <div class="Event-CardTitle">
                                    @ev.Name
                                </div>

                                <div class="Event-CardMeta">
                                    @ev.Location •
                                    @ev.Date.ToString("dd.MM.yyyy") •
                                    Osalejaid: @ev.ParticipantCount
                                </div>

                            </div>
                            <button class="Event-CardAction"
                                    type="button"
                                    title="Lisa osaleja"
                                    @onclick:stopPropagation="true"
                                    @onclick:preventDefault="true"
                                    @onclick="(() => NavigateToAddParticipant(ev.Id))">

                                <img src="images/plus-sign.svg" alt="Add Participant" />
                            </button>

                            <button class="Event-CardAction"
                                    type="button"
                                    @onclick:stopPropagation="true"
                                    @onclick:preventDefault="true"
                                    @onclick="(() => RemoveEvent(ev.Id))">

                                <img src="images/remove.svg" alt="Action" />
                            </button>

                        </NavLink>

                    }
                </div>
            }
        </div>
    </div>
    @*Past events*@
    <div class="Grid-Box">
        <div class="Title-Box Text-Header Text-Header--Center">
            <h2>Toimunud Üritused</h2>
        </div>
        <div class="Content-Box Content-Card">
            @if (_pastEvents == null)
            {
                <p>Loading</p>
            }
            else if (_pastEvents.Count == 0)
            {
                <p>No events</p>
            }
            else
            {
                <div class="Event-List">
                    @foreach (EventReturnDTO ev in _pastEvents)
                    {
                        <NavLink class="Event-Card nav-link"
                                 href="@($"/events/{ev.Id}")">

                            <div class="Event-CardMain">

                                <div class="Event-CardTitle">
                                    @ev.Name
                                </div>

                                <div class="Event-CardMeta">
                                    @ev.Location •
                                    @ev.Date.ToString("dd.MM.yyyy") •
                                    Osalejaid: @ev.ParticipantCount
                                </div>

                            </div>
                        </NavLink>
                    }
                </div>
            }
        </div>
    </div>
</div>





@code
{
    private List<EventReturnDTO>? _upcomingEvents;
    private List<EventReturnDTO>? _pastEvents;

    private void RemoveEvent(Guid eventId)
    {
        
    }

    private void NavigateToAddParticipant(Guid eventId)
    {
        Nav.NavigateTo($"/events/{eventId}/participants/add");
    }


    protected override async Task OnInitializedAsync()
    {
        EventFilters pastFilters = new EventFilters
        {
            Page = 1,
            PageSize = 10,
            StartDate = null,
            EndDate = DateTime.UtcNow
        };

        EventFilters upcomingFilters = new EventFilters
        {
            Page = 1,
            PageSize = 10,
            StartDate = DateTime.UtcNow,
            EndDate = null
        };

        _pastEvents = await EventApi.GetEvents(pastFilters);
        _upcomingEvents = await EventApi.GetEvents(upcomingFilters);
    }
}